@use "@angular/material" as mat;

@include mat.core();

$my-primary: mat.define-palette(mat.$grey-palette, 900);
$my-accent: mat.define-palette(mat.$orange-palette, 600, 300, 100);

$usil-theme: mat.define-light-theme(
  (
    color: (
      primary: $my-primary,
      accent: $my-accent,
    ),
  )
);

// @include mat.core-theme($usil-theme);

// @include mat.button-theme($usil-theme);

// @include mat.toolbar-theme($usil-theme);

@include mat.all-component-themes($usil-theme);
